__pycache__/
gephi/
data/
cache/
csv/*
!csv/sff.csv
!csv/synergies.csv
txt/
.vscode/*
.DS_Store
.vscode/launch.json
gui/evaluation
gui/evaluation_excl.csv
gui/evaluation_top_pairs.txt
gui/evaluation.csv
gui/gefx/Army of Alpha and Curing_Champs of Wheezing and Writhing.gexf
gui/gefx/Army of Alpha and Curing_Day's Locksmiths.gexf
gui/gefx/Army of Alpha and Curing_Doctors of Tatoo and Comparing.gexf
gui/gefx/Army of Alpha and Curing_Grotesquery's Awful Oozes.gexf
gui/gefx/Army of Alpha and Curing_Impulse's Shadowflame Squad.gexf
gui/gefx/Army of Alpha and Curing_Sparky's Attentive Combatants.gexf
gui/gefx/Army of Alpha and Curing_Sutherlord's Oracles.gexf
gui/gefx/Army of Alpha and Curing_The Antique Voting Aunts.gexf
gui/gefx/Army of Alpha and Curing_The Aunts of Bleeding Brightsteel.gexf
gui/gefx/Army of Alpha and Curing_The Bunch of the Drawing Resolve.gexf
gui/gefx/Army of Alpha and Curing_The Creeping Hell Protectors.gexf
gui/gefx/Army of Alpha and Curing_The Crossing Soul Hags.gexf
gui/gefx/Army of Alpha and Curing_The Fire Breathers of the Heartseeker.gexf
gui/gefx/Army of Alpha and Curing_The Fixing Fort Peacekeepers.gexf
gui/gefx/Army of Alpha and Curing_The Former Hoping Valkyrie Trustees.gexf
gui/gefx/Army of Alpha and Curing_The Fortelling Aggravating Ticklers.gexf
gui/gefx/Army of Alpha and Curing_The Group of Brass Conspiracies.gexf
gui/gefx/Army of Alpha and Curing_The Heralds of Silk Collection.gexf
gui/gefx/Army of Alpha and Curing_The Host of the Confident Miracles.gexf
gui/gefx/Army of Alpha and Curing_The Hurting Demons Larvae.gexf
gui/gefx/Army of Alpha and Curing_The Improvization Masons.gexf
gui/gefx/Army of Alpha and Curing_The Imps of Descending Chiron.gexf
gui/gefx/Army of Alpha and Curing_The King Varna Generals.gexf
gui/gefx/Army of Alpha and Curing_The Liches of Rebirth and Duskmaw.gexf
gui/gefx/Army of Alpha and Curing_The Masters of Swearing.gexf
gui/gefx/Army of Alpha and Curing_The Mixing Figment Collectors.gexf
gui/gefx/Army of Alpha and Curing_The Monks of the Great Quitting Fire.gexf
gui/gefx/Army of Alpha and Curing_The Mothers of the Plutonium Echo.gexf
gui/gefx/Army of Alpha and Curing_The Mutant Constructing Gang.gexf
gui/gefx/Army of Alpha and Curing_The Opening Sisters Liches.gexf
gui/gefx/Army of Alpha and Curing_The Overseers of Sparky.gexf
gui/gefx/Army of Alpha and Curing_The People of Bearing.gexf
gui/gefx/Army of Alpha and Curing_The Pondering Iron Advisers.gexf
gui/gefx/Army of Alpha and Curing_The Professing Watchdogs.gexf
gui/gefx/Army of Alpha and Curing_The Protectors of the Saving Herbs.gexf
gui/gefx/Army of Alpha and Curing_The Quantums of Metal and Faith.gexf
gui/gefx/Army of Alpha and Curing_The Quitting Fanciness Overseers.gexf
gui/gefx/Army of Alpha and Curing_The Raiders of Hound and Mask.gexf
gui/gefx/Army of Alpha and Curing_The Raiders of Leading Capitals.gexf
gui/gefx/Army of Alpha and Curing_The Savants of the Ending Predator.gexf
gui/gefx/Army of Alpha and Curing_The Scarred Sneaky Uncles.gexf
gui/gefx/Army of Alpha and Curing_The Senseis who became Champs.gexf
gui/gefx/Army of Alpha and Curing_The Sentrys of Failure Faith.gexf
gui/gefx/Army of Alpha and Curing_The Serious Silver Soldiers.gexf
gui/gefx/Army of Alpha and Curing_The Shading Cacklebones Herd.gexf
gui/gefx/Army of Alpha and Curing_The Shadowflame Odd Vigilantes.gexf
gui/gefx/Army of Alpha and Curing_The Sixth Barb Band.gexf
gui/gefx/Army of Alpha and Curing_The Sorcerers of the Oratek Eruptor.gexf
gui/gefx/Army of Alpha and Curing_The Squadron of the Fire.gexf
gui/gefx/Army of Alpha and Curing_The Tentacles of the Diseased Bone.gexf
gui/gefx/Army of Alpha and Curing_The Wiry Antique Governors.gexf
gui/gefx/Army of Alpha and Curing_The Zephyr Surveyors of Berserk Fire.gexf
gui/gefx/Army of Alpha and Curing_Vindicators of Sobbing and Baking.gexf
gui/gefx/Army of Alpha and Curing_Wrongdoing's Suspending Workers.gexf
gui/gefx/Champs of Wheezing and Writhing_Army of Alpha and Curing.gexf
gui/gefx/Champs of Wheezing and Writhing_Outfit of Camping and Waving.gexf
gui/gefx/Day's Locksmiths_Army of Alpha and Curing.gexf
gui/gefx/Day's Locksmiths_Outfit of Camping and Waving.gexf
gui/gefx/Doctors of Tatoo and Comparing_Army of Alpha and Curing.gexf
gui/gefx/Doctors of Tatoo and Comparing_Outfit of Camping and Waving.gexf
gui/gefx/Grotesquery's Awful Oozes_Army of Alpha and Curing.gexf
gui/gefx/Grotesquery's Awful Oozes_Outfit of Camping and Waving.gexf
gui/gefx/Impulse's Shadowflame Squad_Army of Alpha and Curing.gexf
gui/gefx/Impulse's Shadowflame Squad_Outfit of Camping and Waving.gexf
gui/gefx/Outfit of Camping and Waving_Champs of Wheezing and Writhing.gexf
gui/gefx/Outfit of Camping and Waving_Day's Locksmiths.gexf
gui/gefx/Outfit of Camping and Waving_Doctors of Tatoo and Comparing.gexf
gui/gefx/Outfit of Camping and Waving_Grotesquery's Awful Oozes.gexf
gui/gefx/Outfit of Camping and Waving_Impulse's Shadowflame Squad.gexf
gui/gefx/Outfit of Camping and Waving_Sparky's Attentive Combatants.gexf
gui/gefx/Outfit of Camping and Waving_Sutherlord's Oracles.gexf
gui/gefx/Outfit of Camping and Waving_The Antique Voting Aunts.gexf
gui/gefx/Outfit of Camping and Waving_The Aunts of Bleeding Brightsteel.gexf
gui/gefx/Outfit of Camping and Waving_The Bunch of the Drawing Resolve.gexf
gui/gefx/Outfit of Camping and Waving_The Creeping Hell Protectors.gexf
gui/gefx/Outfit of Camping and Waving_The Crossing Soul Hags.gexf
gui/gefx/Outfit of Camping and Waving_The Fire Breathers of the Heartseeker.gexf
gui/gefx/Outfit of Camping and Waving_The Fixing Fort Peacekeepers.gexf
gui/gefx/Outfit of Camping and Waving_The Former Hoping Valkyrie Trustees.gexf
gui/gefx/Outfit of Camping and Waving_The Fortelling Aggravating Ticklers.gexf
gui/gefx/Outfit of Camping and Waving_The Group of Brass Conspiracies.gexf
gui/gefx/Outfit of Camping and Waving_The Heralds of Silk Collection.gexf
gui/gefx/Outfit of Camping and Waving_The Host of the Confident Miracles.gexf
gui/gefx/Outfit of Camping and Waving_The Hurting Demons Larvae.gexf
gui/gefx/Outfit of Camping and Waving_The Improvization Masons.gexf
gui/gefx/Outfit of Camping and Waving_The Imps of Descending Chiron.gexf
gui/gefx/Outfit of Camping and Waving_The King Varna Generals.gexf
gui/gefx/Outfit of Camping and Waving_The Liches of Rebirth and Duskmaw.gexf
gui/gefx/Outfit of Camping and Waving_The Masters of Swearing.gexf
gui/gefx/Outfit of Camping and Waving_The Mixing Figment Collectors.gexf
gui/gefx/Outfit of Camping and Waving_The Monks of the Great Quitting Fire.gexf
gui/gefx/Outfit of Camping and Waving_The Mothers of the Plutonium Echo.gexf
gui/gefx/Outfit of Camping and Waving_The Mutant Constructing Gang.gexf
gui/gefx/Outfit of Camping and Waving_The Opening Sisters Liches.gexf
gui/gefx/Outfit of Camping and Waving_The Overseers of Sparky.gexf
gui/gefx/Outfit of Camping and Waving_The People of Bearing.gexf
gui/gefx/Outfit of Camping and Waving_The Pondering Iron Advisers.gexf
gui/gefx/Outfit of Camping and Waving_The Professing Watchdogs.gexf
gui/gefx/Outfit of Camping and Waving_The Protectors of the Saving Herbs.gexf
gui/gefx/Outfit of Camping and Waving_The Quantums of Metal and Faith.gexf
gui/gefx/Outfit of Camping and Waving_The Quitting Fanciness Overseers.gexf
gui/gefx/Outfit of Camping and Waving_The Raiders of Hound and Mask.gexf
gui/gefx/Outfit of Camping and Waving_The Raiders of Leading Capitals.gexf
gui/gefx/Outfit of Camping and Waving_The Savants of the Ending Predator.gexf
gui/gefx/Outfit of Camping and Waving_The Scarred Sneaky Uncles.gexf
gui/gefx/Outfit of Camping and Waving_The Senseis who became Champs.gexf
gui/gefx/Outfit of Camping and Waving_The Sentrys of Failure Faith.gexf
gui/gefx/Outfit of Camping and Waving_The Serious Silver Soldiers.gexf
gui/gefx/Outfit of Camping and Waving_The Shading Cacklebones Herd.gexf
gui/gefx/Outfit of Camping and Waving_The Shadowflame Odd Vigilantes.gexf
gui/gefx/Outfit of Camping and Waving_The Sixth Barb Band.gexf
gui/gefx/Outfit of Camping and Waving_The Sorcerers of the Oratek Eruptor.gexf
gui/gefx/Outfit of Camping and Waving_The Squadron of the Fire.gexf
gui/gefx/Outfit of Camping and Waving_The Tentacles of the Diseased Bone.gexf
gui/gefx/Outfit of Camping and Waving_The Wiry Antique Governors.gexf
gui/gefx/Outfit of Camping and Waving_The Zephyr Surveyors of Berserk Fire.gexf
gui/gefx/Outfit of Camping and Waving_Vindicators of Sobbing and Baking.gexf
gui/gefx/Outfit of Camping and Waving_Wrongdoing's Suspending Workers.gexf
gui/gefx/Sparky's Attentive Combatants_Army of Alpha and Curing.gexf
gui/gefx/Sparky's Attentive Combatants_Outfit of Camping and Waving.gexf
gui/gefx/Sutherlord's Oracles_Army of Alpha and Curing.gexf
gui/gefx/Sutherlord's Oracles_Outfit of Camping and Waving.gexf
gui/gefx/The Antique Voting Aunts_Army of Alpha and Curing.gexf
gui/gefx/The Antique Voting Aunts_Outfit of Camping and Waving.gexf
gui/gefx/The Aunts of Bleeding Brightsteel_Army of Alpha and Curing.gexf
gui/gefx/The Aunts of Bleeding Brightsteel_Outfit of Camping and Waving.gexf
gui/gefx/The Bunch of the Drawing Resolve_Army of Alpha and Curing.gexf
gui/gefx/The Bunch of the Drawing Resolve_Outfit of Camping and Waving.gexf
gui/gefx/The Creeping Hell Protectors_Army of Alpha and Curing.gexf
gui/gefx/The Creeping Hell Protectors_Outfit of Camping and Waving.gexf
gui/gefx/The Crossing Soul Hags_Army of Alpha and Curing.gexf
gui/gefx/The Crossing Soul Hags_Outfit of Camping and Waving.gexf
gui/gefx/The Fire Breathers of the Heartseeker_Army of Alpha and Curing.gexf
gui/gefx/The Fire Breathers of the Heartseeker_Outfit of Camping and Waving.gexf
gui/gefx/The Fixing Fort Peacekeepers_Army of Alpha and Curing.gexf
gui/gefx/The Fixing Fort Peacekeepers_Outfit of Camping and Waving.gexf
gui/gefx/The Former Hoping Valkyrie Trustees_Army of Alpha and Curing.gexf
gui/gefx/The Former Hoping Valkyrie Trustees_Outfit of Camping and Waving.gexf
gui/gefx/The Fortelling Aggravating Ticklers_Army of Alpha and Curing.gexf
gui/gefx/The Fortelling Aggravating Ticklers_Outfit of Camping and Waving.gexf
gui/gefx/The Group of Brass Conspiracies_Army of Alpha and Curing.gexf
gui/gefx/The Group of Brass Conspiracies_Outfit of Camping and Waving.gexf
gui/gefx/The Heralds of Silk Collection_Army of Alpha and Curing.gexf
gui/gefx/The Heralds of Silk Collection_Outfit of Camping and Waving.gexf
gui/gefx/The Host of the Confident Miracles_Army of Alpha and Curing.gexf
gui/gefx/The Host of the Confident Miracles_Outfit of Camping and Waving.gexf
gui/gefx/The Hurting Demons Larvae_Army of Alpha and Curing.gexf
gui/gefx/The Hurting Demons Larvae_Outfit of Camping and Waving.gexf
gui/gefx/The Improvization Masons_Army of Alpha and Curing.gexf
gui/gefx/The Improvization Masons_Outfit of Camping and Waving.gexf
gui/gefx/The Imps of Descending Chiron_Army of Alpha and Curing.gexf
gui/gefx/The Imps of Descending Chiron_Outfit of Camping and Waving.gexf
gui/gefx/The King Varna Generals_Army of Alpha and Curing.gexf
gui/gefx/The King Varna Generals_Outfit of Camping and Waving.gexf
gui/gefx/The Liches of Rebirth and Duskmaw_Army of Alpha and Curing.gexf
gui/gefx/The Liches of Rebirth and Duskmaw_Outfit of Camping and Waving.gexf
gui/gefx/The Masters of Swearing_Army of Alpha and Curing.gexf
gui/gefx/The Masters of Swearing_Outfit of Camping and Waving.gexf
gui/gefx/The Mixing Figment Collectors_Army of Alpha and Curing.gexf
gui/gefx/The Mixing Figment Collectors_Outfit of Camping and Waving.gexf
gui/gefx/The Monks of the Great Quitting Fire_Army of Alpha and Curing.gexf
gui/gefx/The Monks of the Great Quitting Fire_Outfit of Camping and Waving.gexf
gui/gefx/The Mothers of the Plutonium Echo_Army of Alpha and Curing.gexf
gui/gefx/The Mothers of the Plutonium Echo_Outfit of Camping and Waving.gexf
gui/gefx/The Mutant Constructing Gang_Army of Alpha and Curing.gexf
gui/gefx/The Mutant Constructing Gang_Outfit of Camping and Waving.gexf
gui/gefx/The Opening Sisters Liches_Army of Alpha and Curing.gexf
gui/gefx/The Opening Sisters Liches_Outfit of Camping and Waving.gexf
gui/gefx/The Overseers of Sparky_Army of Alpha and Curing.gexf
gui/gefx/The Overseers of Sparky_Outfit of Camping and Waving.gexf
gui/gefx/The People of Bearing_Army of Alpha and Curing.gexf
gui/gefx/The People of Bearing_Outfit of Camping and Waving.gexf
gui/gefx/The Pondering Iron Advisers_Army of Alpha and Curing.gexf
gui/gefx/The Pondering Iron Advisers_Outfit of Camping and Waving.gexf
gui/gefx/The Professing Watchdogs_Army of Alpha and Curing.gexf
gui/gefx/The Professing Watchdogs_Outfit of Camping and Waving.gexf
gui/gefx/The Protectors of the Saving Herbs_Army of Alpha and Curing.gexf
gui/gefx/The Protectors of the Saving Herbs_Outfit of Camping and Waving.gexf
gui/gefx/The Quantums of Metal and Faith_Army of Alpha and Curing.gexf
gui/gefx/The Quantums of Metal and Faith_Outfit of Camping and Waving.gexf
gui/gefx/The Quitting Fanciness Overseers_Army of Alpha and Curing.gexf
gui/gefx/The Quitting Fanciness Overseers_Outfit of Camping and Waving.gexf
gui/gefx/The Raiders of Hound and Mask_Army of Alpha and Curing.gexf
gui/gefx/The Raiders of Hound and Mask_Outfit of Camping and Waving.gexf
gui/gefx/The Raiders of Leading Capitals_Army of Alpha and Curing.gexf
gui/gefx/The Raiders of Leading Capitals_Outfit of Camping and Waving.gexf
gui/gefx/The Savants of the Ending Predator_Army of Alpha and Curing.gexf
gui/gefx/The Savants of the Ending Predator_Outfit of Camping and Waving.gexf
gui/gefx/The Scarred Sneaky Uncles_Army of Alpha and Curing.gexf
gui/gefx/The Scarred Sneaky Uncles_Outfit of Camping and Waving.gexf
gui/gefx/The Senseis who became Champs_Army of Alpha and Curing.gexf
gui/gefx/The Senseis who became Champs_Outfit of Camping and Waving.gexf
gui/gefx/The Sentrys of Failure Faith_Army of Alpha and Curing.gexf
gui/gefx/The Sentrys of Failure Faith_Outfit of Camping and Waving.gexf
gui/gefx/The Serious Silver Soldiers_Army of Alpha and Curing.gexf
gui/gefx/The Serious Silver Soldiers_Outfit of Camping and Waving.gexf
gui/gefx/The Shading Cacklebones Herd_Army of Alpha and Curing.gexf
gui/gefx/The Shading Cacklebones Herd_Outfit of Camping and Waving.gexf
gui/gefx/The Shadowflame Odd Vigilantes_Army of Alpha and Curing.gexf
gui/gefx/The Shadowflame Odd Vigilantes_Outfit of Camping and Waving.gexf
gui/gefx/The Sixth Barb Band_Army of Alpha and Curing.gexf
gui/gefx/The Sixth Barb Band_Outfit of Camping and Waving.gexf
gui/gefx/The Sorcerers of the Oratek Eruptor_Army of Alpha and Curing.gexf
gui/gefx/The Sorcerers of the Oratek Eruptor_Outfit of Camping and Waving.gexf
gui/gefx/The Squadron of the Fire_Army of Alpha and Curing.gexf
gui/gefx/The Squadron of the Fire_Outfit of Camping and Waving.gexf
gui/gefx/The Tentacles of the Diseased Bone_Army of Alpha and Curing.gexf
gui/gefx/The Tentacles of the Diseased Bone_Outfit of Camping and Waving.gexf
gui/gefx/The Wiry Antique Governors_Army of Alpha and Curing.gexf
gui/gefx/The Wiry Antique Governors_Outfit of Camping and Waving.gexf
gui/gefx/The Zephyr Surveyors of Berserk Fire_Army of Alpha and Curing.gexf
gui/gefx/The Zephyr Surveyors of Berserk Fire_Outfit of Camping and Waving.gexf
gui/gefx/Vindicators of Sobbing and Baking_Army of Alpha and Curing.gexf
gui/gefx/Vindicators of Sobbing and Baking_Outfit of Camping and Waving.gexf
gui/gefx/Wrongdoing's Suspending Workers_Army of Alpha and Curing.gexf
gui/gefx/Wrongdoing's Suspending Workers_Outfit of Camping and Waving.gexf
