__pycache__/
gephi/
data/
cache/
csv/*
!csv/sff.csv
!csv/synergies.csv
txt/
.vscode/*
.DS_Store
.vscode/launch.json
gui/*
build/*
dist/*
lib/*
.ipynb_checkpoints/*
myenv/*
source/*
.eggs/*
.idea/
binder/soldb-gc-key.json

